@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model IEnumerable<Cariler>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<table class="table table-striped">
    <tr>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Mail</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach(var c in Model)
    {
        <tr>
            <td>@c.CariAd</td>
            <td>@c.CariSoyad</td>
            <td>@c.CariSehir</td>
            <td>@c.CariMail</td>
            <td><a href="/Carilers/CariSil/@c.Cariid" class="btn btn-danger">Sil</a></td>
            <td><a href="/Carilers/CariGetir/@c.Cariid" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Carilers/CariSatisGecmis/@c.Cariid" class="btn btn-info">Satış Geçmişi</a></td>
        </tr>
    }
</table>
<a href="/Carilers/CariEkle" class="btn btn-primary">Cari Ekle</a>

