################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/Playground/ECommerceSystem/.vs
/Playground/MicroservicesNotificationCenter/.vs
/Playground/AutoMapperPrototype/.vs
/Playground/ProductStockManagement/.vs/ProductStockManagement.slnx
