
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/jquery.min.js"></script>

<button class="btn btn-primary" id="btn1">Buton 1</button>
<button class="btn btn-primary" id="btn2">Buton 2</button>
<button class="btn btn-primary" id="btn3">Buton 3</button>
<button class="btn btn-primary" id="btn4">Buton 4</button>
<button class="btn btn-primary" id="btn5">Buton 5</button>

<script>
    $('#btn1').click(function(){
        swal("Hello world!");
    });

    $('#btn2').click(function(){
        swal("Here's the title!", "...and here's the text!");
    });

    $('#btn3').click(function(){
        swal("Good job!", "You clicked the button!", "success");
    });

    $('#btn4').click(function(){
            swal("Click on either the button or outside the modal.")
    .then((value) => {
      swal(`The returned value is: ${value}`);
    });
    });

    $('#btn5').click(function(){
            swal({
      title: "Are you sure?",
      text: "Once deleted, you will not be able to recover this imaginary file!",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
        swal("Poof! Your imaginary file has been deleted!", {
          icon: "success",
        });
      } else {
        swal("Your imaginary file is safe!");
      }
    });
    });
</script>

