@model MvcOnlineTicariOtomasyon.Models.Siniflar.Kategori
@{
    ViewData["Title"] = "KategoriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h1>Kategori Güncelleme</h1>
<br />

<form asp-action="KategoriGuncelle" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="Kategoriid" />

        <label asp-for="KategoriAd" class="form-label">Kategori Adı</label>
        <input asp-for="KategoriAd" class="form-control" />        
    </div>
    <button class="btn btn-warning">Güncelle</button>
</form>


