@{
    ViewBag.Title = "Home Page";
    var categories = ViewBag.Categories as List<MovieManagementProject.Models.Category>;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/Content/custom.css">
</head>
<body>
    <!-- Hero Bölümü -->
    <div class="hero-section">
        <div class="container text-center text-light">
            <h1>Welcome to Movie World!</h1>
            <p>Discover the latest and most popular movies, create your watchlist.</p>
            <a href="@Url.Action("UserIndex", "Home")" class="btn btn-light btn-lg">Find Movies</a>
        </div>
    </div>
    <main>
        @*<section class="row" aria-labelledby="aspnetTitle">
                <h1 id="title">ASP.NET</h1>
                <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
                <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
            </section>

            <div class="row">
                <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                    <h2 id="gettingStartedTitle">Getting started</h2>
                    <p>
                        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                        enables a clean separation of concerns and gives you full control over markup
                        for enjoyable, agile development.
                    </p>
                    <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                </section>
                <section class="col-md-4" aria-labelledby="librariesTitle">
                    <h2 id="librariesTitle">Get more libraries</h2>
                    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                    <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                </section>
                <section class="col-md-4" aria-labelledby="hostingTitle">
                    <h2 id="hostingTitle">Web Hosting</h2>
                    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                    <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                </section>
            </div>*@
        <!-- Film Kategorileri -->
        <div class="categories-section">
            <div class="container">
                <h2 class="section-title text-center text-light">Categories</h2>
                <div class="row">

                    @foreach (var category in categories)
                    {
                        <div class="col-md-4 category-card">
                            <h4>@category.Name</h4>
                            <a href="@Url.Action("ViewByCategory", "Home", new { id = category.Id })" class="btn btn-light">
                                See
                            </a>
                        </div>
                            }
                        
                        @*<div class="col-md-4 category-card">
                <h4>Drama</h4>
                <a href="/Movies/Category/Drama" class="btn btn-light">See</a>
            </div>
            <div class="col-md-4 category-card">
                <h4>Komedi</h4>
                <a href="/Movies/Category/Comedy" class="btn btn-light">See</a>
            </div>
                    <ul class="categories-list">

                    </ul>*@
                    </div>
            </div>
        </div>

        <!-- Popüler Filmler -->
        <div class="popular-movies-section">
            <div class="container">
                <h2 class="section-title text-center text-light">Popular Movies</h2>
                <div class="row">
                    <!-- Film kartları burada dinamik olarak yerleştirilecek -->
                    <div class="col-md-4 movie-card">
                        <img src="path_to_image" alt="Film 1" class="img-fluid">
                        <h5>Movie 1</h5>
                        <p>Director: X</p>
                        <a href="/Movies/Details/1" class="btn btn-light">Details</a>
                    </div>
                    <div class="col-md-4 movie-card">
                        <img src="path_to_image" alt="Film 2" class="img-fluid">
                        <h5>Movie 2</h5>
                        <p>Director: Y</p>
                        <a href="/Movies/Details/2" class="btn btn-light">Details</a>
                    </div>
                    <div class="col-md-4 movie-card">
                        <img src="path_to_image" alt="Film 3" class="img-fluid">
                        <h5>Movie 3</h5>
                        <p>Director: Z</p>
                        <a href="/Movies/Details/3" class="btn btn-light">Details</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Hakkımızda -->
        <div class="about-section">
            <div class="container text-center">
                <h2 class="text-light">Who Are We?</h2>
                <p class="text-light">We are a platform that desires to present our users with the best movie experience.</p>
                <a href="/About" class="btn btn-light">Daha Fazla Bilgi</a>
            </div>
        </div>
    </main>
</body>
</html>