
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered mt-2">
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
    </tr>
</table>
<button class="btn btn-primary">Yeni Kategori</button>
