@model MvcOnlineTicariOtomasyon.Models.Siniflar.Kategori
@{
    ViewData["Title"] = "Kategori Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Kategori Sayfası</h2>
<br />
<form class="form-group" method="post">
    <label asp-for="KategoriAd" class="form-label">Kategori Adı</label>
    <input asp-for="KategoriAd" class="form-control" />
    <br />
    <button class="btn btn-info" id="confirm">Kaydet</button>
</form>

<script src="/js/jquery.min.js"></script>">
<script>
    $('#confirm').click(function () {
        alert("Kategori başarılı bir şekilde eklendi.");
    });
</script>

