
@{
    ViewData["Title"] = "Index3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h1>Index3</h1>

<div class="text-center">
    <h1 class="display-4">Ürün Sayıları</h1>
    <div class="graphic-wrapper" style="width: 750px;
    height: 750px;">
        <canvas id="myChart"></canvas>
    </div>
</div>


@section Scripts {
    <script>
        const labels = @Html.Raw(Json.Serialize(ViewBag.Urunler));
        const dataValues = @Html.Raw(Json.Serialize(ViewBag.Stoklar));

        const data = {
            labels: labels,
            datasets: [{
                label: 'Stok',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: dataValues,
            }]
        };

        const config = {
            type: 'bar',
            data: data,
            options: {}
        };

        var myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
}